$blue-color: #064cce;
$light-color: #f7f7f7;
$medium-color: #c1c1c1;
$dark-color: #4c528d;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: $blue-color;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  border-radius: 50%;
}

.lead {
  font-size: 15px;
  font-weight: lighter;
  color: black;
}

.material-icons {
  font-size: 30px;
  color: $blue-color;
}

.heart-icon {
  font-size: 20px;
}

h1,
h2 {
  font-weight: lighter;
}

.page-grid {
  display: grid;
  grid-template-columns: 45px 325px auto;
  height: 100vh;
}

//   NAV MENU LEFT------
.nav-menu {
  background: $light-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ul {
    padding-left: 0px;
    display: flex;
    flex-direction: column;

    .logo {
      margin-bottom: 3rem;
    }

    li {
      margin-bottom: 0.5rem;
      padding-left: 0.5rem;
    }
  }
}

// GROUP LIST-----------

.group-list {
  display: flex;
  flex-direction: column;
  background-color: $light-color;

  .list-title {
    display: flex;
    justify-content: space-between;
    border: 1px solid $medium-color;
    padding: 0.5rem 0.5rem;

    h2 {
      padding: 0.5rem 0 0 0.5rem;
    }

    ul li {
      display: inline;
    }
  }

  .search-wrapper {
    border: 1px solid $medium-color;
    padding: 1rem;

    .search-box {
      text-align: center;
      width: 90%;
    }
  }

  .group {
    display: flex;
    justify-content: space-between;
    border: 1px solid $medium-color;
    padding: 0.5rem;

    .material-icons {
      font-size: 60px;
    }
  }
}

// CHAT BOX

.chat-box {
  display: flex;
  flex-direction: column;
  background-color: $light-color;

  .chat-title {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }

  .collection {
    overflow: scroll;
    height: 75vh;

    li {
      margin: auto;
      display: flex;
      justify-content: space-between;
      border-bottom: $dark-color 1px dashed;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: $medium-color;
        color: $dark-color;

        .material-icons {
          color: $dark-color;

          &:hover {
            background-color: #ff0000;
          }
        }
      }

      .title {
        font-weight: bold;
      }
    }

    .timestamp {
      text-align: center;
      text-transform: uppercase;
    }
  }

  .message-box {
    width: 40%;
    height: 5vh;
    border: $dark-color 2px dashed;
  }

  .btn {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: $medium-color;
    border: $dark-color 2px dashed;
  }
}
